# Configuration
.vscode/
.idea/
.bldr/
.cmake/
.vs/
build/
out/
CMakeLists.txt
CMakeSettings.json
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/

# Assets
assets/models/

# Generated
.vfs-pack-output/

# Runtime
imgui.ini
renderdoc.cap